.current-container {
  overflow-y: auto;
  overflow-x: hidden;
  width: auto;
  height: 100%;
}
.echart-content {
  width: auto;
  height: 200px;
  overflow: hidden;
}
.opera {
  width: auto;
  height: 32px;
}