.header-content {
    padding: 0 12px;
    display: flex;
    .h-left {
        height: 100%;
        width: 200px;
    }
    .h-space {
        flex: 1;
    }
    .h-right {
        height: 100%;
        width: auto;
    }
}